In [2]:
import pandas as pd
import numpy as np

In [3]:
essay_empathy_raw = pd.read_csv('./dataset/WASSA23_essay_level_with_labels_train.tsv', sep='\t', na_values='unknown', header=0) # raw csv file consists of 'unknown' values
article_raw = pd.read_csv('./dataset/articles_adobe_AMT.csv', header=0, index_col=0)
essay_level_dev = pd.read_csv('./dataset/dev/WASSA23_essay_level_dev.tsv', sep='\t', header=0)
goldstandard_dev = pd.read_csv('./dataset/dev/goldstandard_dev.tsv', sep='\t', header=None) # no header

In [42]:
# essay_empathy_raw

In [43]:
# article_raw.head()

In [44]:
# article_raw.loc[1,'text']

In [92]:
# essay_empathy_raw.columns

In [45]:
# essay_level_dev

In [46]:
# goldstandard_dev

In [4]:
goldstandard_dev = goldstandard_dev.rename(columns={0:'empathy', 1:'distress'})

In [5]:
essay_level_empathy_dev = pd.concat([essay_level_dev, goldstandard_dev], axis=1)

In [6]:
essay_level_empathy_dev

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,...,2,3,4,5,6,7,8,9,10,11
0,1,35,How sad is it that this kind of pain and suffe...,68,2,2,1,21,20000,1,...,Sadness,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286
1,4,35,The article is kind of tragic and hits close t...,79,1,6,3,33,64000,1,...,Sadness,6.50,7.00,3.50,4.50,7.0,3.714,1.0000,2.429,1.429
2,7,213,"I think that these kinds of stories, are sad, ...",68,2,2,1,21,20000,1,...,Sadness,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286
3,9,213,It's crazy that random accidents like this hap...,84,2,4,1,25,55000,1,...,Neutral,5.50,5.50,3.50,4.50,4.0,3.571,2.8570,3.571,3.143
4,12,78,This story makes me so so sad.... As someone w...,68,2,2,1,21,20000,1,...,Sadness,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,471,297,"After reading the article, you can't help but ...",70,1,6,1,29,85000,2,...,Fear/Sadness,6.75,6.75,6.75,6.75,7.0,4.643,2.0715,4.143,4.643
204,478,53,I am definiltly guilty of wasting food. I buy ...,68,2,2,1,21,20000,2,...,Sadness,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286
205,484,292,I wish this article had given us more info. We...,68,2,2,1,21,20000,2,...,Neutral,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286
206,494,218,This story is really horrifying to me. Knowing...,96,2,3,1,27,25000,2,...,Fear,6.00,6.00,6.00,6.00,6.0,4.000,2.2860,3.571,3.714
207,497,103,An option for this very well may be that the m...,68,2,2,1,21,20000,2,...,Anger,5.00,3.00,5.00,4.00,3.5,2.714,3.0000,3.143,3.286

In [7]:
essay_empathy_raw.dropna(inplace=True)
essay_empathy_raw.dtypes

conversation_id                    int64
article_id                         int64
essay                             object
empathy                          float64
distress                         float64
speaker_id                         int64
gender                           float64
education                        float64
race                             float64
age                              float64
income                           float64
personality_conscientiousness    float64
personality_openess              float64
personality_extraversion         float64
personality_agreeableness        float64
personality_stability            float64
iri_perspective_taking           float64
iri_personal_distress            float64
iri_fantasy                      float64
iri_empathatic_concern           float64
speaker_number                     int64
split                             object
essay_id                           int64
emotion                           object
dtype: object

In [8]:
essay_level_empathy_dev.dtypes

conversation_id      int64
article_id           int64
essay               object
speaker_id           int64
gender               int64
education            int64
race                 int64
age                  int64
income               int64
speaker_number       int64
split               object
essay_id             int64
empathy            float64
distress           float64
2                   object
3                  float64
4                  float64
5                  float64
6                  float64
7                  float64
8                  float64
9                  float64
10                 float64
11                 float64
dtype: object

In [9]:
dev_set_columns = list(essay_level_dev.columns)

In [10]:
dev_set_columns

['conversation_id',
 'article_id',
 'essay',
 'speaker_id',
 'gender',
 'education',
 'race',
 'age',
 'income',
 'speaker_number',
 'split',
 'essay_id']

In [11]:
dev_set_columns.remove('split') #split column is not required as it is just "train"

In [12]:
other_columns = ['empathy', 'distress']

In [13]:
columns_to_take = dev_set_columns + other_columns

In [14]:
columns_to_take

['conversation_id',
 'article_id',
 'essay',
 'speaker_id',
 'gender',
 'education',
 'race',
 'age',
 'income',
 'speaker_number',
 'essay_id',
 'empathy',
 'distress']

In [15]:
essay_article_texts = essay_empathy_raw[columns_to_take]  #retaining columns only exists in the dev set
essay_level_empathy_dev = essay_level_empathy_dev[columns_to_take]

In [16]:
essay_article_texts

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,essay_id,empathy,distress
0,2,35,It breaks my heart to see people living in tho...,30,1.0,6.0,3.0,37.0,40000.0,1,1,6.833333,6.625
1,3,35,I wonder why there aren't more people trying t...,19,1.0,6.0,2.0,32.0,35000.0,1,2,5.833333,6.000
2,5,35,"After reading the article, you can't help but ...",17,1.0,6.0,1.0,29.0,85000.0,1,4,1.000000,1.375
3,6,213,It is so sad that someone who had such an amaz...,16,2.0,5.0,1.0,28.0,50000.0,1,5,6.166667,6.625
4,8,213,"From reading the article, it looks like the wo...",30,1.0,6.0,3.0,37.0,40000.0,1,7,6.833333,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,495,218,I feel that this will become a national proble...,30,1.0,6.0,3.0,37.0,40000.0,2,994,6.500000,6.750
788,496,103,The whole situation is sketchy. The wavering r...,16,2.0,5.0,1.0,28.0,50000.0,2,995,3.166667,6.375
789,498,103,The death of a former aide to Russian Presiden...,43,2.0,6.0,1.0,33.0,110000.0,2,997,6.000000,2.000
790,499,103,Everything about Russia really freaks me out. ...,53,2.0,3.0,1.0,27.0,25000.0,2,998,6.000000,6.000
791,500,103,Whenever Russia and Putin are involved I do n...,30,1.0,6.0,3.0,37.0,40000.0,2,999,1.500000,4.875

In [17]:
essay_level_empathy_dev

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,essay_id,empathy,distress
0,1,35,How sad is it that this kind of pain and suffe...,68,2,2,1,21,20000,1,0,3.833333,3.375
1,4,35,The article is kind of tragic and hits close t...,79,1,6,3,33,64000,1,3,3.000000,1.000
2,7,213,"I think that these kinds of stories, are sad, ...",68,2,2,1,21,20000,1,6,3.833333,4.250
3,9,213,It's crazy that random accidents like this hap...,84,2,4,1,25,55000,1,8,3.166667,2.375
4,12,78,This story makes me so so sad.... As someone w...,68,2,2,1,21,20000,1,11,3.333333,3.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,471,297,"After reading the article, you can't help but ...",70,1,6,1,29,85000,2,970,1.000000,1.875
204,478,53,I am definiltly guilty of wasting food. I buy ...,68,2,2,1,21,20000,2,977,3.500000,3.625
205,484,292,I wish this article had given us more info. We...,68,2,2,1,21,20000,2,983,4.000000,4.375
206,494,218,This story is really horrifying to me. Knowing...,96,2,3,1,27,25000,2,993,6.000000,6.000
207,497,103,An option for this very well may be that the m...,68,2,2,1,21,20000,2,996,4.000000,3.625

In [18]:
essay_train_dev = pd.concat([essay_article_texts, essay_level_empathy_dev], axis=0, ignore_index=True)

In [19]:
essay_train_dev

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,essay_id,empathy,distress
0,2,35,It breaks my heart to see people living in tho...,30,1.0,6.0,3.0,37.0,40000.0,1,1,6.833333,6.625
1,3,35,I wonder why there aren't more people trying t...,19,1.0,6.0,2.0,32.0,35000.0,1,2,5.833333,6.000
2,5,35,"After reading the article, you can't help but ...",17,1.0,6.0,1.0,29.0,85000.0,1,4,1.000000,1.375
3,6,213,It is so sad that someone who had such an amaz...,16,2.0,5.0,1.0,28.0,50000.0,1,5,6.166667,6.625
4,8,213,"From reading the article, it looks like the wo...",30,1.0,6.0,3.0,37.0,40000.0,1,7,6.833333,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,471,297,"After reading the article, you can't help but ...",70,1.0,6.0,1.0,29.0,85000.0,2,970,1.000000,1.875
983,478,53,I am definiltly guilty of wasting food. I buy ...,68,2.0,2.0,1.0,21.0,20000.0,2,977,3.500000,3.625
984,484,292,I wish this article had given us more info. We...,68,2.0,2.0,1.0,21.0,20000.0,2,983,4.000000,4.375
985,494,218,This story is really horrifying to me. Knowing...,96,2.0,3.0,1.0,27.0,25000.0,2,993,6.000000,6.000
986,497,103,An option for this very well may be that the m...,68,2.0,2.0,1.0,21.0,20000.0,2,996,4.000000,3.625

In [71]:
essay_train_dev['article_id'].unique().shape

(100,)

In [72]:
essay_train_dev.to_csv("./essay_article_id_train_dev.csv")

In [20]:
essay_train_dev['article_id'] = essay_train_dev['article_id'].apply(lambda x: article_raw.loc[x, 'text'])

In [21]:
essay_train_dev

,conversation_id,article_id,essay,speaker_id,gender,education,race,age,income,speaker_number,essay_id,empathy,distress
0,2,"A month after Hurricane Matthew, 800,000 Haiti...",It breaks my heart to see people living in tho...,30,1.0,6.0,3.0,37.0,40000.0,1,1,6.833333,6.625
1,3,"A month after Hurricane Matthew, 800,000 Haiti...",I wonder why there aren't more people trying t...,19,1.0,6.0,2.0,32.0,35000.0,1,2,5.833333,6.000
2,5,"A month after Hurricane Matthew, 800,000 Haiti...","After reading the article, you can't help but ...",17,1.0,6.0,1.0,29.0,85000.0,1,4,1.000000,1.375
3,6,Miami Marlins star pitcher Jose Fernandez kill...,It is so sad that someone who had such an amaz...,16,2.0,5.0,1.0,28.0,50000.0,1,5,6.166667,6.625
4,8,Miami Marlins star pitcher Jose Fernandez kill...,"From reading the article, it looks like the wo...",30,1.0,6.0,3.0,37.0,40000.0,1,7,6.833333,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,471,Spain’s Deadly Train Crash — A train crash in...,"After reading the article, you can't help but ...",70,1.0,6.0,1.0,29.0,85000.0,2,970,1.000000,1.875
983,478,Americans feel guilty about wasting too much f...,I am definiltly guilty of wasting food. I buy ...,68,2.0,2.0,1.0,21.0,20000.0,2,977,3.500000,3.625
984,484,Shooting Occurs Near California Polling Statio...,I wish this article had given us more info. We...,68,2.0,2.0,1.0,21.0,20000.0,2,983,4.000000,4.375
985,494,Millions exposed to dangerous lead levels in U...,This story is really horrifying to me. Knowing...,96,2.0,3.0,1.0,27.0,25000.0,2,993,6.000000,6.000
986,497,Death of former Putin aide at D.C. hotel is ru...,An option for this very well may be that the m...,68,2.0,2.0,1.0,21.0,20000.0,2,996,4.000000,3.625

In [22]:
essay_train_dev = essay_train_dev.rename(columns={'article_id': 'article'}) # just renaming to make more sense

In [23]:
essay_train_dev.dtypes

conversation_id      int64
article             object
essay               object
speaker_id           int64
gender             float64
education          float64
race               float64
age                float64
income             float64
speaker_number       int64
essay_id             int64
empathy            float64
distress           float64
dtype: object

In [77]:
essay_train_dev.to_csv('./essay_article_text_train_dev.csv')